@import "tailwindcss";

.p-tag {
    padding: 0.25rem 0.75rem !important;
    font-size: 0.75rem;
}

.p-button-icon {
    margin: 0 0.5rem;
}

.p-column-title {
    margin-right: 5px;
}

.p-dialog.p-component {
    border-radius: 0.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* 2. Header */
.p-dialog-header {
    background-color: #f3f4f6;
    border-bottom: 1px solid #e5e7eb;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p-dialog-title {
    font-size: 1.125rem;
    font-weight: 600;
    color: #1f2937;
}

.p-dialog-header-close:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
}

.p-dialog-content {
    padding: 1.5rem;
}

.field {
    margin-bottom: 1rem;
}

.field>label {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    color: #374151;
}

.p-inputtext,
.p-inputtextarea,
.p-dropdown {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    color: #1f2937;
}

.p-dialog-footer {
    padding: 1rem 1.5rem;
    border-top: 1px solid #e5e7eb;
    text-align: right;
}

.p-dialog-footer .p-button {
    min-width: 4.5rem;
    margin-left: 0.5rem;
}

.p-dropdown-items-wrapper {
    max-height: 200px !important;
    background: #ffffff;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    margin-top: 0.25rem;
}

.p-dropdown-items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.p-dropdown-item {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    color: #374151;
    cursor: pointer;
}

.p-dropdown-item:hover {
    background-color: #f3f4f6;
}

.p-dropdown-item.p-highlight {
    background-color: #e5e7eb;
}

.p-dropdown-item-label {
    display: block;
    width: 100%;
    line-height: 1.4;
}